<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
        <title>
            BA Characters
        </title>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <div id="wrapper">
            <header>
                <a href="index.html">
                <img src="Blue_Archive_logo.svg.png" alt="logo"> 
                </a>
                <h1>CHARACTERS STUDENTS</h1>
                <nav>
                    <li><a href="index.html">Home</a></li>
                    <li class="active"><a href="characters.html">Characters</a></li>
                    <li><a href="story.html">Story</a></li>
                    <li><a href="rolls.html">Rolls</a></li>
                </ul>
                </nav>
                <div class="login-register">
                    <a href="login.html">Log-In</a> 
                    <a href="register.html">Register</a>
                </div>
            </header>
            <main id="main">
                <h2>BY RARITY</h2><br>
                <h2>1 STAR</h2>
                <a href="https://bluearchive.fandom.com/wiki/Okusora_Ayane_(Swimsuit_ver.)">Ayane</a>
                <a href="https://bluearchive.fandom.com/wiki/Hinomiya_Chinatsu">Chinatsu</a>
                <a href="https://bluearchive.fandom.com/wiki/Igusa_Haruka">Haruka</a>
                <a href="https://bluearchive.fandom.com/wiki/Akashi_Junko_(New_Year_ver.)">Junko</a>
                <a href="https://bluearchive.fandom.com/wiki/Shishidou_Izumi_(Swimsuit_ver.)">Izumi</a>
                <a href="https://bluearchive.fandom.com/wiki/Ushimaki_Juri">Juri</a>
                <a href="https://bluearchive.fandom.com/wiki/Otose_Kotama">Kotoma</a>
                <a href="https://bluearchive.fandom.com/wiki/Ichinose_Asuna">Asuna</a>
                <a href="https://bluearchive.fandom.com/wiki/Nekozuka_Hibiki_(Cheerleader_ver.)">Hibiki</a>
                <a href="https://bluearchive.fandom.com/wiki/Toyomi_Kotori">Kotori</a>
                <a href="https://bluearchive.fandom.com/wiki/Hanaoka_Yuzu_(Maid_ver.)">Yuzu</a>
                <a href="https://bluearchive.fandom.com/wiki/Ibaragi_Yoshimi">Yosimi</a>
                <a href="https://bluearchive.fandom.com/wiki/Morizuki_Suzumi">Suzumi</a>
                <a href="https://bluearchive.fandom.com/wiki/Kenzaki_Tsurugi_(Swimsuit_ver.)">Tsurugi</a>
                <a href="https://bluearchive.fandom.com/wiki/Hanekawa_Hasumi_(Gym_ver.)">Hasumi</a>
                <a href="https://bluearchive.fandom.com/wiki/Sumi_Serina">Sarina</a>
                <a href="https://bluearchive.fandom.com/wiki/Shimoe_Koharu_(Swimsuit_ver.)">Koharu</a>
                <a href="https://bluearchive.fandom.com/wiki/Endo_Shimiko">Shimiko</a>
                <a href="https://bluearchive.fandom.com/wiki/Kawawa_Shizuko_(Swimsuit_ver.)">Shizuko</a>
                <a href="https://bluearchive.fandom.com/wiki/Asahina_Pina">Pina</a>
                <a href="https://bluearchive.fandom.com/wiki/Chidori_Michiru">Michiru</a>
                <a href="https://bluearchive.fandom.com/wiki/Sashiro_Tomoe">Tomoe</a>
                <a href="https://bluearchive.fandom.com/wiki/Amami_Nodoka">Nodoka</a>
                <a href="https://bluearchive.fandom.com/wiki/Nemugaki_Fubuki">Fubuki</a>
                <a href="https://bluearchive.fandom.com/wiki/Kasumizawa_Miyu_(Swimsuit_ver.)">Miyu</a>
                <a href="https://bluearchive.fandom.com/wiki/Saten_Ruiko">Ruiko</a>
                <br>
                <h2>2 STARS</h2>
                <a href="https://bluearchive.fandom.com/wiki/Kuromi_Serika">Serika</a>
                <a href="https://bluearchive.fandom.com/wiki/Izayoi_Nonomi">Nonomi</a>
                <a href="https://bluearchive.fandom.com/wiki/Okusora_Ayane">Ayane</a>
                <a href="https://bluearchive.fandom.com/wiki/Asagi_Mutsuki">Matsuki</a>
                <a href="https://bluearchive.fandom.com/wiki/Onikata_Kayoko">Kayoko</a>
                <a href="https://bluearchive.fandom.com/wiki/Akashi_Junko">Junko</a>
                <a href="https://bluearchive.fandom.com/wiki/Wanibuchi_Akari">Akari</a>
                <a href="https://bluearchive.fandom.com/wiki/Aikiyo_Fuuka">Fuuka</a>
                <a href="https://bluearchive.fandom.com/wiki/Hayase_Yuuka">Yuuka</a>
                <a href="https://bluearchive.fandom.com/wiki/Omagari_Hare">Hare</a>
                <a href="https://bluearchive.fandom.com/wiki/Murokasa_Akane">Akane</a>
                <a href="https://bluearchive.fandom.com/wiki/Shiraishi_Utaha">Utaha</a>
                <a href="https://bluearchive.fandom.com/wiki/Saiba_Momoi">Momoi</a>
                <a href="https://bluearchive.fandom.com/wiki/Kurimura_Airi">Airi</a>
                <a href="https://bluearchive.fandom.com/wiki/Hanekawa_Hasumi">Hasumi</a>
                <a href="https://bluearchive.fandom.com/wiki/Asagao_Hanae">Hanae</a>
                <a href="https://bluearchive.fandom.com/wiki/Urawa_Hanako">Hanako</a>
                <a href="https://bluearchive.fandom.com/wiki/Iochi_Mari">Mari</a>
                <a href="https://bluearchive.fandom.com/wiki/Waraku_Chise">Chise</a>
                <a href="https://bluearchive.fandom.com/wiki/Kasuga_Tsubaki">Tsubaki</a>
                <a href="https://bluearchive.fandom.com/wiki/Kawawa_Shizuko">Shizuko</a>
                <a href="https://bluearchive.fandom.com/wiki/Akiizumi_Momiji">Momiji</a>
                <a href="https://bluearchive.fandom.com/wiki/Nakatsukasa_Kirino">Kirino</a>
                <br>
                <h2>3 STARS</h2>
                <a href="https://bluearchive.fandom.com/wiki/Sunaookami_Shiroko">Shiroko</a>
                <a href="https://bluearchive.fandom.com/wiki/Kuromi_Serika_(New_Year_ver.)">Serika</a>
                <a href="https://bluearchive.fandom.com/wiki/Takanashi_Hoshino">Hoshino</a>
                <a href="https://bluearchive.fandom.com/wiki/Izayoi_Nonomi_(Swimsuit_ver.)">Nonomi</a>
                <a href="https://bluearchive.fandom.com/wiki/Natsume_Iroha">Iroha</a>
                <a href="https://bluearchive.fandom.com/wiki/Sorasaki_Hina">Hina</a>
                <a href="https://bluearchive.fandom.com/wiki/Amau_Ako">Ako</a>
                <a href="https://bluearchive.fandom.com/wiki/Shiromi_Iori">Iori</a>
                <a href="https://bluearchive.fandom.com/wiki/Hinomiya_Chinatsu_(Hot_Spring_ver.)">Chinatsu</a>
                <a href="https://bluearchive.fandom.com/wiki/Rikuhachima_Aru">Aru</a>
                <a href="https://bluearchive.fandom.com/wiki/Asagi_Mutsuki_(New_Year_ver.)">Matsuki</a>
                <a href="https://bluearchive.fandom.com/wiki/Onikata_Kayoko_(New_Year_ver.)">Kayoko</a>
                <a href="https://bluearchive.fandom.com/wiki/Igusa_Haruka_(New_Year_ver.)">Haruka</a>
                <a href="https://bluearchive.fandom.com/wiki/Kurodate_Haruna">Haruna</a>
                <a href="https://bluearchive.fandom.com/wiki/Shishidou_Izumi">Izumi</a>
                <a href="https://bluearchive.fandom.com/wiki/Aikiyo_Fuuka_(New_Year_ver.)">Fuuka</a>
                <a href="https://bluearchive.fandom.com/wiki/Himuro_Sena">Sena</a>
                <a href="https://bluearchive.fandom.com/wiki/Kinugawa_Kasumi">Kasumi</a>
                <a href="https://bluearchive.fandom.com/wiki/Shimokura_Megu">Megu</a>
                <a href="https://bluearchive.fandom.com/wiki/Hayase_Yuuka_(Gym_ver.)">Yuuka</a>
                <a href="https://bluearchive.fandom.com/wiki/Ushio_Noa">Noa</a>
                <a href="https://bluearchive.fandom.com/wiki/Kurosaki_Koyuki">Koyuki</a>
                <a href="https://bluearchive.fandom.com/wiki/Kagami_Chihiro">Chihiro</a>
                <a href="https://bluearchive.fandom.com/wiki/Konuri_Maki">Maki</a>
                <a href="https://bluearchive.fandom.com/wiki/Mikamo_Neru">Neru</a>
                <a href="https://bluearchive.fandom.com/wiki/Kakudate_Karin">Karin</a>
                <a href="https://bluearchive.fandom.com/wiki/Murokasa_Akane_(Bunny_Girl_ver.)">Akane</a>
                <a href="https://bluearchive.fandom.com/wiki/Ichinose_Asuna_(Bunny_Girl_ver.)">Asuna</a>
                <a href="https://bluearchive.fandom.com/wiki/Asuma_Toki">Toki</a>
                <a href="https://bluearchive.fandom.com/wiki/Nekozuka_Hibiki">Hibiki</a>
                <a href="https://bluearchive.fandom.com/wiki/Shiraishi_Utaha_(Cheerleader_ver.)">Utaha</a>
                <a href="https://bluearchive.fandom.com/wiki/Toyomi_Kotori_(Cheerleader_ver.)">Kotori</a>
                <a href="https://bluearchive.fandom.com/wiki/Otohana_Sumire">Sumire</a>
                <a href="https://bluearchive.fandom.com/wiki/Akeboshi_Himari">Himari</a>
                <a href="https://bluearchive.fandom.com/wiki/Izumimoto_Eimi">Eimi</a>
                <a href="https://bluearchive.fandom.com/wiki/Tendou_Alice">Alice</a>
                <a href="https://bluearchive.fandom.com/wiki/Hanaoka_Yuzu">Yuzu</a>
                <a href="https://bluearchive.fandom.com/wiki/Saiba_Midori">Midori</a>
                <a href="https://bluearchive.fandom.com/wiki/Kirifuji_Nagisa">Nagisa</a>
                <a href="https://bluearchive.fandom.com/wiki/Misono_Mika">Mika</a>
                <a href="https://bluearchive.fandom.com/wiki/Kyouyama_Kazusa">Kazusa</a>
                <a href="https://bluearchive.fandom.com/wiki/Yutori_Natsu">Natsu</a>
                <a href="https://bluearchive.fandom.com/wiki/Uzawa_Reisa">Reisa</a>
                <a href="https://bluearchive.fandom.com/wiki/Shizuyama_Mashiro">Mashiro</a>
                <a href="https://bluearchive.fandom.com/wiki/Kenzaki_Tsurugi">Tsurugi</a>
                <a href="https://bluearchive.fandom.com/wiki/Aomori_Mine">Mine</a>
                <a href="https://bluearchive.fandom.com/wiki/Asagao_Hanae_(Christmas_ver.)">Hanae</a>
                <a href="https://bluearchive.fandom.com/wiki/Sumi_Serina_(Christmas_ver.)">Serina</a>
                <a href="https://bluearchive.fandom.com/wiki/Ajitani_Hifumi">Hifumi</a>
                <a href="https://bluearchive.fandom.com/wiki/Shirasu_Azusa">Azusa</a>
                <a href="https://bluearchive.fandom.com/wiki/Shimoe_Koharu">Koharu</a>
                <a href="">Hanako</a>
                <a href="">Ui</a>
                <a href="">Sakurako</a>
                <a href="">Mari</a>
                <a href="">Hinata</a>
                <a href="">Kaho</a>
                <a href="">Chise</a>
                <a href="">Mimori</a>
                <a href="">Kaede</a>
                <a href="">Yukari</a>
                <a href="">Izuna</a>
                <a href="">Tsukuyo</a>
                <a href="">Wakamo</a>
                <a href="">Mina</a>
                <a href="">Shun</a>
                <a href="">Kokona</a>
                <a href="">Saya</a>
                <a href="">Rumi</a>
                <a href="">Cherino</a>
                <a href="">Marina</a>
                <a href="">Minori</a>
                <a href="">Meru</a>
                <a href="">Nodoka</a>
                <a href="">Shigure</a>
                <a href="">Kanna</a>
                <a href="">Miyako</a>
                <a href="">Saki</a>
                <a href="">Miyu</a>
                <a href="">Moe</a>
                <a href="">Saori</a>
                <a href="">Misaki</a>
                <a href="">Hiyori</a>
                <a href="">Atsuko</a>
                <a href="">Miku</a>
                <a href="">Mikoto</a>
                <a href="">Misaki</a>
            </main>
            <marquee behavior="scroll" direction="left" scrollamount="30">
                <img class="scrolling" src="Spin.gif" alt="ScrollGif">
            </marquee>
        </div>
    </body>
</html>