<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewpoint" content = "width=device-width, initial-scale=1.0">
        <title>
            BA Story
        </title>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <div id="wrapper">
            <header>
                <a href="index.html">
                <img src="Blue_Archive_logo.svg.png" alt="logo"> 
                </a>
                <h1>STORY</h1>
                <nav>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="characters.html">Characters</a></li>
                        <li class="active"><a href="story.html">Story</a></li>
                        <li><a href="rolls.html">Rolls</a></li>
                    </ul>
                </nav>
                <div class="login-register">
                    <a href="login.html">Log-In</a> 
                    <a href="register.html">Register</a>
                </div>
            </header>
            <main id="main">
                <h2>Main Story</h2>
                <br>
                <h2>Volume 1: The Foreclosure Task Force</h2>
                <p>
                    The Foreclosure Task Force (対策委員会編) is the first volume of Blue Archive's main story. 
                    The story centers around Abydos High School and follows the students of the Countermeasures Committee. 
                    There are two chapters released, totaling at 40 individual episodes. A third chapter is planned, set to release at an unannounced date.
                    <br>
                    Blurb: Abydos is in danger of getting shut down. Help the Foreclosure Task Force save the academy!
                    <br>
                    Synopsis: Sensei is requested by Okusora Ayane of the Foreclosure Task Force to assist their school in repelling the local gangs that have been harassing them. 
                    As Sensei assists the girls of Abydos, more and more parties come into the mix, and secrets of school—and its students'—past are slowly brought to light. 
                    Will Sensei be able to save the school and its students?
                    <br>
                <h2>Volume 2: Clockwork Flower Pavane</h2>
                <p>
                    Clockwork Flower Pavane (時計じかけの花のパヴァーヌ編) is the second volume of Blue Archive's main story. 
                    The story centers around Millennium Science School and follows the students of the Game Development Department. 
                    There are two chapters released, totaling at 45 individual episodes.
                    <br>
                    Blurb: The Game Development Department is in need of assistance. Help them produce a fantastic video game by the deadline!
                    <br>
                    Synopsis: Oh hero, please save the world! Sensei responds to the desperate cries of the Game Development Club, who face against the threat of being shut down. 
                    As the girls moves forth to save their club, they brave a treacherous dungeon, form unlikely alliances, and clash against ferocious foes; all to produce the greatest game!
                    <br>
                    <h2>Volume 3: Treaty of Eden</h2>
                    <p>
                        Treaty of Eden (エデン条約編) is the third volume of Blue Archive's main story. 
                        The story centers around Trinity General School and follows the students of the Remedial Class Club. 
                        There are four chapters released, totaling at 89 individual episodes.
                        <br>
                        Blurb: Gehenna and Trinity academies are sworn enemies. Will they ever see eye to eye?
                        <br>
                        Synopsis: Sensei receives a request to teach a group of students who are on the brink of failing at Trinity. Finally, Sensei can be a normal teacher and teach!... or so it seemed. 
                        As suspicions run amok, Sensei and the girls of the Remedial Class Club find themselves standing at the crossroads of animosity and conspiracy accumulated over centuries. 
                        Just what is this "Eden Treaty," and how will it affect Sensei and the girls? 
                        Will Sensei be able to defy the fate of Eden—the very paradise where man was expelled—and bring about a happy ending?
                        <br>
                        <h2>Volume 4: The Rabbit of Caerbannog</h2>
                        <p>
                            The Rabbit of Caerbannog (カルバノグの兎編) is the fourth volume of Blue Archive's main story. 
                            The story centers around SRT Special Academy and follows the students of RABBIT Platoon. 
                            There are two chapters released, totaling at 44 episodes. Blurb:
                            An academy has disappeared overnight. What is the destiny of SRT's new students?
                            <br>
                            Synopsis: SRT has shut down, but it doesn't seem like all of its students like that! 
                            As Sensei grows closer to the defiant RABBIT Platoon, forces lurking in the shadows begin to make their move. 
                            The remnants of SRT Special Academy, Valkyrie Police Academy, and the General Student Council clash as their hopes and motives come to light. 
                            How will Sensei get through this time, and is there any light at the end of the tunnel for the RABBIT Platoon?
                            <br>
                            <h2>Volume Final: Where All Miracles Begin</h2>
                            <p>
                                Where All Miracles Begin (あまねく奇跡の始発点) is the final volume of Blue Archive's main story. 
                                The story centers around the entirety of Kivotos, following students from the major schools. 
                                There are four chapters released, totaling at 62 episodes.
                                <br>
                                Blurb: Small cracks formed in their everyday lives. In an instant, those peaceful days all came crashing down—
                                <br>
                                Synopsis: As the "story" draws to its ending, a natural disaster comes barreling towards Kivotos; seeking to perverse fate and reality. 
                                With the existence of Kivotos on the line, Sensei must rally together the students of the city to fight back and save the miracles of normal life.
                                <br>
                                <h2>Volume 5: Hyakka Ryōran</h2>
                                <p>
                                    Hyakka Ryōran (百花繚乱) is the fifth volume of Blue Archive's main story. The story centers around Hyakkiyako Alliance Academy and the members of the Hyakkaryouran Conflict Resolution Council. 
                                    There is currently one chapter released, totaling at 13 episodes.
                                    <br>
                                    <br>
                                    Blurb: TBA
                                    <br>
                                    <br>
                                    Synopsis: TBA
                                </p>
                            </p>
                        </p>
                    </p>
                </p>
                </p>
            </main>
            <marquee behavior="scroll" direction="left" scrollamount="30">
                <img class="scrolling" src="Spin.gif" alt="ScrollGif">
            </marquee>
        </div>
    </body>
</html>